/* rodape */


.rodape {
    padding: 1em;
    font-family: var(--fonte-roboto);
    background-color: black;
    color: wheat;
    display: grid;
    gap: 2em;
 
}

.rodape section {
    display: grid;
    gap: 2em;
}

.rodape p {
    font-weight: 500;
}

.div-rodape {
    text-align: center;
}

h5 {
    font-size: 1.5em;
}

/* contato */


.local-mapa {
    width: 100%;
    padding: 0 50px 15px 50px;
    height: 60%;
}

.loc-rodape div {
    text-align: center;
}

.contato-rodape h4 {
    margin: 5px 0;
}

.contato-rodape p {
    color: white;
    text-decoration: none;

}




.contato-rodape p:visited {
    color: white;
}

.contato-rodape p:hover {
    color: white;
}

.contato-rodape p:active {
    color: white;
}


.div-contato-rodape{
    display: flex;
    gap: 10px;
    text-align: center;
    margin: 0.5px;
    align-items: center;
}

.loc-nome-empresa {
    margin: 5px 0;
}

/* .rodape section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
} */
